<md-button ng-click="vm.toggleSubmenu()" class="menu-list-button" 
            flex layout="row" >grupy
     <span aria-hidden="true" class="pullright fa fa-chevron-down md-toggle-icon" ng-class="{'clicked': vm.isOpen === true}"></span>
</md-button>
<ul ng-show="vm.isOpen" class="menu-toggle-list ">
    <li ng-repeat="item in vm.menu">
        <md-button class="submenu-list-button" ui-sref-active="active" ng-click="vm.goToSite('statistic')">
            {{item.name}}
        </md-button>
    </li>
</ul>