<md-button ng-click="vm.toggleSubmenu()" class="menu-list-button" 
            flex layout="row" >Manage groups
     <span aria-hidden="true" class="pullright fa fa-chevron-down md-toggle-icon" ng-class="{'clicked': vm.isOpen === true}"></span>
</md-button>
<ul ng-show="vm.isOpen" class="menu-toggle-list ">
    <li>
        <md-button class="submenu-list-button" ui-sref-active="active" ng-click="vm.goToSite('manage-groups')">
            All groups
        </md-button>
    </li>
    <li ng-repeat="item in vm.menu">
        <md-button class="submenu-list-button" ui-sref-active="active" ng-click="vm.goToManageGroup(item.Id, item.Name)" ng-bind="item.Name">
        </md-button>
    </li>
</ul>