<md-dialog class="modal-container">
        <form>
            <md-toolbar>
               <h2 ng-bind="modal.modalHeader"></h2>
            </md-toolbar>
           <md-dialog-content flex>
               <md-input-container ng-if="key!=='Id'" ng-repeat="key in modal.columnsName">
                   <label ng-bind="key"></label>
                   <input type="text" ng-model="modal.selectedElement[key]">
               </md-input-container>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <md-button type="submit" ng-click="modal.request()">
                    Confirm
                </md-button>
                <span flex></span>
                <md-button type="submit" ng-click="modal.cancel()">
                    Cancel
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>