<div >
    <my-header></my-header>
</div>
<div class="container" layout="row">
    <div>
        <my-sidenav></my-sidenav>
    </div>
    <div flex>
        <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
            <md-tab label="Configuration" ui-sref="home.statistic"></md-tab>
            <md-tab label="Users" ui-sref="home.manage-lectures"></md-tab>
            <md-tab label="Songs" ui-sref="admin.songs"></md-tab>
        </md-tabs>
        <div ui-view class="fade-in-out"></div>
    </div>  
</div>