<md-card md-theme="darkgrey" md-theme-watch flex>
  <md-card-container class="table-md-cart-container" flex>
    <div>
      <span class="table-title" ng-bind="group.name"></span>
      <md-button class="md-raised md-primary" ng-click="group.openAddStudentForm()">Add student</md-button>
    </div>
    <md-content layout="column" flex="flex" class="table-content">
        <h1 ng-if="!group.isSomeData" class="table-no-data">No data</h1>
        <table ng-if="group.isSomeData" class="md-table" md-colresize="md-colresize">
        <thead>
            <tr class="md-table-headers-row">
            <th class="md-table-header" ng-repeat="column in group.columnsName">
                <a href="#">
                    <i class="ion-android-arrow-dropup"></i>
                    <i class="ion-android-arrow-dropdown" ng-show="!reverse &amp;&amp; column.field == predicate"></i>
                </a>
                <span ng-bind="column"></span>
            </th>
            <th class="md-table-header"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="md-table-content-row" ng-repeat="data in group.data">
                <td class="md-table-content" ng-repeat="column in group.columnsName" ng-class="customClass[column.field]" ng-bind="data[column]"></td>
                <td>
                <md-button ng-click="group.showConfirm($event, data.Id)" class="md-raised md-warn">Delete</md-button>
                </td>
            </tr>

        </tbody>
        </table>
    </md-content>
  </md-card-container>
</md-card>

