<md-toolbar layout="row">
    <md-button hide-gt-sm ng-click="vm.toggleMenu()">
        <i class="fa fa-bars menu-button" aria-hidden="true"></i>
    </md-button>
    <h1 class="header-title style-text">{{ vm.title }}</h1>
    <div flex></div>
    <md-list class="settings" class="menu-toggle-list">
        <md-list-item data-ng-if="vm.inputWithUsername">
            <md-button ng-click="vm.toggleSubmenu()" class="menu-list-button settings-button" flex>
                {{ vm.user }}
            </md-button>
        </md-list-item>
        <md-list-item data-ng-if="vm.isOpen">
            <md-button class="menu-list-button settings-button" ui-sref-active="active" ng-click="vm.changePassword()">
                Change password
            </md-button>
        </md-list-item>
        <md-list-item data-ng-if="vm.isOpen">
            <md-button class="menu-list-button settings-button" ui-sref-active="active" ng-click="vm.changeEmail()">
                Change credentials
            </md-button>
        </md-list-item>
    </md-list>
    <md-button class="logout-button" ng-click="vm.logout()">Sign out
        <span class="glyphicon glyphicon-log-out"></span>
    </md-button>
</md-toolbar>