<div class="change-password-container" layout="column" layout-align="center center" flex>
    <h1>Change password</h1>
    <form name="personalityCheck" layout="column" layout-align="space-around center" flex="50">
        <md-input-container>
            <label>Current password</label>
            <input type="text" name="currentPassword" ng-model="password.password.OldPassword" required>
            <div ng-messages="personalityCheck.currentPassword.$error">
                <div ng-message="required">Current password is required!</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>New password</label>
            <input  ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$/" type="text" name="newPassword" ng-model="password.password.NewPassword" required>
            <div ng-messages="personalityCheck.newPassword.$error">
                <div ng-message="required">Password has from 6 to 12 symbols, number and capital letter!</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Confirm new password</label>
            <input ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$/" type="text" name="confirmNewPassword" ng-model="password.password.ConfirmPassword" required>
            <div ng-messages="personalityCheck.confirmNewPassword.$error">
                <div ng-message="required">Confirm new password!</div>
            </div>
        </md-input-container>
        <md-input-container layout="column" layout-align="center center">
            <md-button ng-click="password.showConfirm($event)" ui-sref-active="active" type="submit" id="registerUser"
                       value="Register" class="md-raised md-primary" aria-label="login"
                       ng-disabled="personalityCheck.$invalid">
                Change
            </md-button>
        </md-input-container>
    </form>
</div>