<div class="login-container" layout="column" layout-align="center center" flex>
<div layout="column" layout-align="center center" flex>
  <h1 class="md-display-4 style-text">Shut up and learn</h1>
<form name="personalityCheck" ng-submit="login.catchMeIfYouCan()" layout="column" layout-align="center center" flex=40>
  <md-input-container>
    <label>Username</label>
    <input type="text" name="username" ng-model="login.username" required>
    <div ng-messages="personalityCheck.username.$error">
      <div ng-message="required">Username is required!</div>
    </div>
  </md-input-container>
  <md-input-container>
  <label>Password</label>
    <input type="password" name="password" ng-model="login.password" required>
    <div ng-messages="personalityCheck.password.$error">
      <div ng-message="required">Password is required!</div>
    </div>
    </md-input-container>
    <md-input-container>
        <md-button type="submit" id="registerUser" value="Register" class="md-raised md-primary" aria-label="login" ng-disabled="personalityCheck.$invalid">
            Sign in
          <span class="glyphicon glyphicon-log-in"></span>
        </md-button>
    </md-input-container>
  <md-dialog>Username or password is incorrect</md-dialog>
</form>
</div>
</div>

<!--ui-sref="home" ui-sref-active="active"-->