<div layout="column" layout-align="center center" flex style="height: 100vh">
<div layout="column" layout-align="center center" flex><h1 class="md-display-4 style-text">Shut up and learn</h1>
<form name="personalityCheck" layout="column" layout-align="center center" flex=50>
  <md-input-container>
    <label>Username</label>
    <input type="text" style="padding: 15px; font-size: 25px" name="username" ng-model="username" required>
    <div ng-messages="personalityCheck.username.$error">
      <div ng-message="required">Username is required!</div>
    </div>
  </md-input-container>
  <md-input-container>
  <label>Password</label>
    <input type="password" style="padding: 15px; font-size: 25px" name="password" ng-model="password" required>
    <div ng-messages="personalityCheck.password.$error">
      <div ng-message="required">Password is required!</div>
    </div>
    </md-input-container>
    <md-input-container>
        <md-button ui-sref="home" ui-sref-active="active" type="submit" id="registerUser" value="Register" class="md-raised md-primary" aria-label="login" ng-disabled="personalityCheck.$invalid">
            Sign in
        </md-button>
    </md-input-container>
</form>
</div>
</div>