<div layout="column" layout-align="center center" flex style="height: 100vh">
<div layout="column" layout-align="center center" flex><h1 class="md-display-4 style-text">Shut up and learn</h1>
<form style="border: 3px dashed rgba(0,0,0,0.1); border-radius: 5%" name="personalityCheck" layout="column" layout-align="center center" flex=40>
  <md-input-container style="margin: 15px">
    <label>Username</label>
    <input type="text" style="padding: 15px; font-size: 25px" name="username" ng-model="username" required>
    <div ng-messages="personalityCheck.username.$error">
      <div ng-message="required">Username is required!</div>
    </div>
  </md-input-container>
  <md-input-container style="margin: 15px">
  <label>Password</label>
    <input type="password" style="padding: 15px; font-size: 25px" name="password" ng-model="password" required>
    <div ng-messages="personalityCheck.password.$error">
      <div ng-message="required">Password is required!</div>
    </div>
    </md-input-container>
    <md-input-container>
        <md-button ui-sref="home" ui-sref-active="active" type="submit" id="registerUser" value="Register" class="md-raised md-primary" aria-label="login" ng-disabled="personalityCheck.$invalid">
            <span class="glyphicon glyphicon-log-in"></span>
            Sign in
        </md-button>
    </md-input-container>
    <div></div>
</form>
</div>
</div>