<div flex>
    <md-card md-theme="darkgrey" md-theme-watch flex>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Statystyki</span>
                <span class="md-subhead">Large</span>
            </md-card-title-text>
            <md-card-title-media>
                <canvas id="polar-area" class="chart chart-polar-area"
                chart-data="vm.data" chart-labels="vm.labels" chart-options="options">
                </canvas> 
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button>Action 1</md-button>
            <md-button>Action 2</md-button>
        </md-card-actions>
    </md-card>
</div>
