<md-dialog>
    <form ng-cloak>
        <md-toolbar>
            <h2>Add lecturer</h2>
        </md-toolbar>
        <md-dialog-content>
            <md-input-container>
                <input type="text">
            </md-input-container>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="table.hideModal()">
                Confirm
            </md-button>
            <span flex></span>
            <md-button ng-click="table.hideModal()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>